<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
   
     <h2>Friend requests</h2>
     <ul>
    <% current_user.inverse_friends.each do |friend| %>
      <li><span class="posts"> 
      <%= friend.name %>  
      <%= link_to 'Remove Friend', friendships_destroy_path(:friend_id => friend) %>
      </li> 
    <% end %>
    </ul>
    <% else %>
    <% end %>
  </article>
</section>
